@using System.Collections
@using Clases
@model IEnumerable<Solicitud>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class= "colcol-sm-6">
            <h3>Lista Solicitudes</h3>
        </div>
    </div>
    @if (TempData ["mensaje"] != null){
    <div class="alert alertalert-warning alert-alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="close" data-data-dismiss="alert" ariaaria-label="close">
            <span ariaaria-hidden="true">
                &times;
            </span>
        </button>

    </div>
    }
<div class="table table-bordered">
    <table>
        <thead>
            <tr>
              <td>Id</td>
              <td>Ingresos</td>
              <td>Nombre Empresa</td>
              <td>TipoEmpresa</td>
              <td>Nombre usuario</td>
              <td>Nombre Trajeta</td>
            </tr>
        </thead>
        <tbody>
                @foreach(Solicitud solicitud in Model)
                {
                   <tr>
                    <td>@solicitud.id</td> 
                   <td>@solicitud.Ingresos</td> 
                   <td>@solicitud.NombreEmpresa </td> 
                   <td>@solicitud.Usuario.Nombre</td> 
                   <td>@solicitud.Tarjeta.NombreTarjeta</td>
                   <td>
                       <a class="btn btn-warning"
                       asp-controller="SolicitudController" asp-action="Edit" asp-route-id="@solicitud.id"
                       >
                           
                           Editar
                       </a>
                       <a class="btn btn-danger"
                       asp-controller="Solicitud" asp-action="Delete" asp-route-id="@solicitud.id"
                       >
                           Borrar
                       </a>
                       
                        <a asp-controller="Solicitud" asp-action="Validar" asp-route-id="@solicitud.id" class="btn btn-warning">Ver</a>
                    
                   </td>
                   </tr>
                }     
        </tbody>
    </table>
      <div class="col-sm-6">
        <a class="btn btn-success d-block" 
        asp-controller = "Solicitud" asp-action="Create"
        >
            Crear nueva Solicitud
        </a>
        </div>
</div>
</div>

